.defaultLink {
  color: blue;
  text-decoration: underline;
}
.activeLink {
  color: black;
  text-decoration: none;
}
.navBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 24px;
  background: #EFEFEF;
  text-align: center;
}
.content {
  margin-top: 36px;
}

.blogTable {
  width: 100%;
  border-collapse: collapse;
}

.blogTable input{
  width: 100%;
}

.blogTable tr td{
  border-bottom: 1px solid #efefef;
  padding-bottom: 0.5em;
}

.blogTable tr td:nth-child(1){
  width: 50px;
  font-weight: bold;
  vertical-align: top;
  border-right: 1px solid #efefef;
}

.blogTable tr td:nth-child(2){
  padding-left: 5px;
}

.blogListEmpty {
  text-align: center;
  color: #999;
  margin: 20px;
}

.blogList {
  margin: 10px auto;
  border-collapse: collapse;
}

.blogList tbody tr:nth-child(odd){
  background-color: #EFEFEF;
}

.blogListTitle {
  width: 500px;
}

.blogList th {
  text-align: left;
  font-weight: bold;
}

.blogListUser {
  width: 150px;
}

.blogListCreateTime {
  width: 300px;
}

.pagination {
  text-align: center;
}

.pagination a {
  border: 1px solid #777;
  text-decoration: none;
  padding: 4px;
  margin: 4px;
  min-width: 24px;
  display: inline-block;
}

.pagination a.current {
  border: 1px solid red;
}

.loading {
  background-image: url('./assets/images/Spinner-1s-200px.gif');
  background-repeat: no-repeat;
  background-position: center center;
  min-width: 200px;
  min-height: 200px;
}

.blogView {
  width: 600px;
  margin: 10px auto;
  border: 1px dashed #EEE;
  padding: 12px;
}

.blogView > h1 {
  text-align: center;
}

.blogView > p {
  text-align: center;
  font-size: 12px;
}

.blogView > div {

}

.blogView img {
  max-width: 95%!important;
}